<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.movie.MoviesApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name="com.movie.ui.splash.SplashActivity"
            android:theme="@style/SplashAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.movie.ui.auth.AuthActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.movie.ui.home.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>